.blog-page {
    text-align: center;
    padding: 50px 20px;
    background:linear-gradient(rgba(155, 89, 182, 0.15), rgba(142, 68, 173, 0.15));
    color: #fff;
  }
  
  .blog-page h2 {
    font-size: 46px;
    margin-bottom: 20px;
    
  }
  
  .blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 38%;
    gap: 35px;
  }
  
  .blog-post {
    background-color: inherit;
    border-radius: 50px;
    padding: 20px;
    width: 300px;
    box-sizing: content-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  }
  
  .blog-post:hover {
    transform: translateY(-10px);
  }
  
  .blog-post h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .blog-post p {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .blog-post a {
    font-size: 16px;
    color: #ffc107;
    text-decoration: none;
  }
  
  .blog-post a:hover {
    text-decoration: underline;
  }
  
  
/* Media Queries for Small Screens */
@media (max-width: 768px) {
    .blog-page {
      padding: 30px 10px;
    }
    
    .blog-page h2 {
      font-size: 28px;
    }
  
    .blog-post {
      width: 100%;
      max-width: 450px;
      margin: 10px;
    }
  }
  
  /* For mobile phones */
  @media (max-width: 480px) {
    .blog-page {
      padding: 20px 5px;
    }
    
    .blog-page h2 {
      font-size: 24px;
    }
  
    .blog-post {
      width: 100%;
      margin: 10px;
      padding: 15px;
    }
  
    .blog-post h3 {
      font-size: 20px;
    }
  
    .blog-post p {
      font-size: 14px;
    }
  
    .blog-post a {
      font-size: 14px;
    }
  }